* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;

    --default-bg-color: gray;
}

body {
    background-color: var(--default-bg-color);
    height: 100vh;
    width: 100%;
}

div.header {
    background-color: var(--default-bg-color);
    height: 8%;

    display: flex;
    justify-content: space-between;
}

div.content {
    display: flex;
    height: 92%;
}

div.nav {
    background-color: var(--default-bg-color);
    display: flex;
    flex-direction: column;

    width: max(15%, 100px);
}

div.task-nav, div.notebook-nav {
    display: flex;
    flex-direction: column;
}

div.task-wrapper {
    border-top-left-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

div.note-page {
    background-color: lightblue;
    width: max(50%, 200px);
    height: min(100%, 1000px);

}

div.task {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

div.task-actions {
    display: flex;
    justify-content: center;
    height: 37px;
    align-self: center;
}

button.action-btn {
    border: ridge rgb(40, 102, 153) 4px;
    border-radius: 70%;
    margin: 0 0.5em;
    min-width: 37px;
    min-height: 37px;
    background-image: radial-gradient(circle, rgb(27, 51, 70), rgb(40, 102, 153),white);
    box-shadow: rgb(27, 51, 70) 2px 2px 5px;
}

button.action-btn:hover {
    border: ridge gray 4px;
    background-image: radial-gradient(circle, rgb(58, 57, 57), gray,white);
}

button.action-btn:active {
    border: ridge rgb(77, 77, 77) 4px;
    background-image: radial-gradient(circle, rgb(34, 34, 34), rgb(77, 77, 77),white);
}

.action-btn.pinned {
    border: ridge rgb(47, 159, 250) 4px;
    background-image: radial-gradient(circle, rgb(32, 123, 197), rgb(47, 159, 250),white);
}

div.task-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
}

div.task-title {
    display: flex;
    align-items: center;
    flex: 0;
    gap: 5px;
}

button.desc-toggle {
    background-color: none;
}

h1.task-title {
    width: max-content;
    max-width: 35vh;
    overflow: auto;
    overflow-wrap: break-all;
}

div.due-date {
    display: flex;
}

.check-box {
    width: 37px;
    height: 37px;

    background-color: lightblue;
    border: ridge black 4px;
}

.completed {
    text-decoration: line-through;
    text-decoration-color: currentColor;
    color: gray;
}

.hiding {
    display: none;
}

.overdue {
    color: rgb(185, 33, 33);
}

.cancel-button {
    display: flex;
    justify-content: end;
}

dialog::backdrop {
    background-color: rgba(128, 128, 128, 0.322)
}

textarea#task-notes {
    resize: none;
    width: 200px;
    height: 100px;
}

.task-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: flex;
    flex-direction: column;
}
