* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: white;
    height: 100vh;
    width: 100%;
}

div.header {
    background-color: gray;
    height: 8%;
}

div.content {
    display: flex;
    height: 92%;
}

div.nav {
    background-color: gray;
    display: flex;
    flex-direction: column;

    width: max(15%, 100px);
}

div.task-nav, div.notebook-nav {
    display: flex;
    flex-direction: column;
}

div.task-wrapper {
    border-top-left-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.note-page {
    background-color: lightblue;
    width: max(50%, 200px);
    height: min(100%, 1000px);

}

div.task {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

div.task-header {
    display: flex;
    justify-content: space-between;
}
